#landing-page
  #search-box
    %h1 Look up bitchings
    %h2 Someone might already be bitching about what you want to bitch about. Why not join them and make a bitching of epic proportions?
    %form#look-up
      %input{:name => "tag", :type => "text"}/
      %br/
      %input{:type => "submit", :value => "Look up"}/
  #highlights
    #recent-bitchings
      %h3 Recent Bitchings
      %ul
        %li There are no recent bitchings yet.

    #popular-bitchings
      %h3 Popular bitchings
      %ul
        %li There are no popular bitchings yet.

    #top-bitchers
      %h3 Top bitchers
      %ul 
        %li There are no top bitchers yet.

