// Place all the styles related to the Bitchings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Place all the styles related to the Bitchings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$font: 'Noto Sans', sans-serif;

#landing-page {
  font-family: $font;
}

#landing-page h1 {
  font-weight: bold;
  font-size: 26px;
  text-align: center;
  color: gray;
  margin-bottom: 17px;
}

#landing-page h2 {
  font-size: 13px;
  text-align: center;
  width: 500px;
  color: #a2a2a2;
  margin-bottom: 14px;
}


#search-box {
  width: 485px;
  margin: auto;
}

#look-up input:first-child {
  width: 485px;
  height: 30px;
  margin-bottom: 7px;
}

#look-up input:last-child {
  display: none;
}

#recent-bitchings {
  width: 290px;
  height: 200px;
  float: left;
  background: lightgray;
  margin-right: 15px;
}

#popular-bitchings {
  width: 290px;
  height: 200px;
  float:left;
  background: lightgray;
}
#top-bitchers {
  width: 290px;
  height: 200px;
  float: right;
  background: lightgray;

}

#highlights {
  width: 900px;
  margin: 60px auto;
}

#highlights h3 {
  font-size: 16px;
  color: gray;
  margin: 10px 0 10px 0;
  text-align: center;
  font-weight: bold;
}

#highlights li {
  font-size: 12px;
  color: #000;
  margin-left: 10px;
  width: 290px;

}








